name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  build-all-clis:
    name: Build Only (No Release)
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    
    - name: Storage-CLI Build for Linux
      env:
        GOOS: linux
        GOARCH: amd64
        CGO_ENABLED: 0
      run: |
            echo "Building Storage CLI for Linux"
            go build -ldflags "-X main.version=0.0.0" \
            -o "storage-cli-linux-amd64"
            sha1sum "storage-cli-linux-amd64"
    
    - name: Storage-CLI Build for Windows
      env:
        GOOS: windows
        GOARCH: amd64
        CGO_ENABLED: 0
      run: |
            echo "Building Storage CLI for Windows"
            go build -ldflags "-X main.version=0.0.0" \
            -o "storage-cli-windows-amd64.exe"
            sha1sum "storage-cli-windows-amd64.exe"
    
    - name: Sanitize branch name
      id: sanitize
      run: |
        BRANCH_NAME="${{ github.ref_name }}"
        SAFE_BRANCH=$(echo "$BRANCH_NAME" | sed 's/[^a-zA-Z0-9._-]/-/g')
        echo "branch=$SAFE_BRANCH" >> $GITHUB_OUTPUT
    
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: storage-cli-${{ steps.sanitize.outputs.branch }}-${{ github.sha }}
        path: |
          storage-cli-linux-amd64
          storage-cli-windows-amd64.exe
        retention-days: 30